@tailwind base;
@tailwind components;
@tailwind utilities;

/* Paleta: Minimal Elegante */
:root{
  --brand:#0EA5E9;   /* azul suave */
  --accent:#64748B;  /* cinza azulado */
  --bg:#FFFFFF;      /* fundo */
  --surface:#F1F5F9; /* cartões */
  --text:#0F172A;    /* texto */
  --muted:#94A3B8;   /* texto fraco */
  --danger:#E11D48;  /* erro */
}

html,body,#root{height:100%}
body{background:var(--bg); color:var(--text)}
